<sk-ngx-tel-input [formControl]="telControl">
  <ng-template #controls let-region="region" let-phone="phone">
    <select [formControl]="region">
      <option [value]="null">Region</option>
      <option value="CA">Canada</option>
      <option value="US">United States</option>
      <option value="UK">UK</option>
    </select>
    <input #phoneInput type="text" placeholder="Phone" [formControl]="phone" />
  </ng-template>
</sk-ngx-tel-input>

<pre>{{ telControl.value || "No phone number parsed yet" }}</pre>
<pre>{{ (telControl.errors | json) || "No phone errors yet" }}</pre>
